<h1>howdy<h1>
<form action="/payment/results">

<label for = "ostrich">APR</label>
<input id="ostrich" type="text" placeholder="What is your APR?" name="ostrichbaby">
<label for = "turkey">Number of years</label>
<input id="turkey" type="text" placeholder="How many years are remaining?" name="turkeybaby">
<label for = "goose">Principal</label>
<input id="goose" type="text" placeholder="What is the present value?" name="goosebaby">
<button>Calculate monthly payment</button >
</form>
