<h1>howdy<h1>
<form action="/random/results">
<label for = "worm">Minimum</label>

<input id="worm" type="text" placeholder="Minimum" name="wormbaby">
<label for = "slug">Maximum</label>

<input id="slug" type="text" placeholder="Maximum" name="slugbaby">

<button>Pick random number</button >
</form>
