<h1>howdy<h1>
<form action="/square_root/results">
<label for = "panda">Enter a number</label>

<input id="panda" type="text" placeholder="What number do you want to square root?" name="pandababy">
<button>Calculate Square root </button >
</form>
